@import url(https://fonts.googleapis.com/css?family=Shadows+Into+Light);

.game-mode{
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.game-menu{
    width: 320px;
    height: 320px;
    background-color: #BCE8EA;
    display: flex;
    font-family: shadows into light;
    font-size: 20px;
    font-weight: 700;
    line-height: 2em;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.circle{
    width: 200px;
    height: 200px;
    border-radius: 100px;
    background-color: #808080;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 1px solid #5d8aa8;
}

#gameMenuPlay, .game-menu-about{
    width: 203px;
    background-color: #BCE8EA;
    height: 40px;
    position: absolute;
    top: 50px;
    text-align: center;
    cursor: pointer;
    -webkit-transition:0.5s;
    transition:0.5s;
}

.game-menu-about{
    top: 100px;
    margin-top: 10px;;
}

#gameMenuPlay:hover, .game-menu-about:hover{
    color:white;
    -webkit-transform: rotate(-1deg);
    transform: rotate(-1deg);
}

#game{
    display: flex;
    width: 500px;
    height: 150px;
    border: 1px solid black;
    background: linear-gradient(55deg, #EFEFE7 50%, #BCE8EA 50%);
    box-sizing: border-box;
    position: relative;
    padding: 65px 30px;
    margin: 0 auto;
}

#game:before,
#game:after {
    content: "";
    position: absolute;
    width: 50%;
    height: 10px;
    background: linear-gradient(90deg, #BCE8EA 50%, #EFEFE7 50%);
    left: 14%;
}

#game:before {
    top: 15px;
    left: 30%;
}

#game:after {bottom: 15px}

#game p{
    position: absolute;
    z-index: 1;
    top: 0;
    left: 20px;
    font-size: 24px;
    font-family: "Monotype Corsiva", Cursive, sans-serif;
}

#game p + p{
    left: 300px;
}

#taskMenu{
    width: 200px;
    display: flex;
    margin-left: 35px;
}

#playMenu{
    display: flex;
    width: 200px;
}

.cube{
    width: 25px;
    height: 25px;
    margin: 5px;
    background-color: #965336;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
}

#playMenu .cube{cursor: pointer}

h1{text-align: center}

.falling{
    animation: move 0.5s alternate;
    animation-iteration-count: 2;
}

@keyframes move {
    from { top: -0; }
    to {
        top: 100%;
        transform: translateY(20px);
    }
}

#reroll{
    display: block;
    margin: 10px auto;
    width: 500px;
    font-family: "Monotype Corsiva", Cursive, sans-serif;
    font-size: 25px;
    font-weight: 700;
    color: #BAA8EA;
    cursor: pointer;
}

.lose{
    width: 200px;
    height: 100px;
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    font-family: shadows into light;
    font-size: 24px;
}

#exit{
    cursor: pointer;
    padding: 10px;
}

#exit:hover{
    background-color: #808080;
    color: #fff;
    border-radius: 20px;
}

